[Unit]
Description=Daily Cloudflare IP Update Check
Requires=cf-nginx.service

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
