[Unit]
Description=Cloudflare IP Auto-Update
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'source /usr/lib/cf-nginx/cf-ips.sh && auto_update'

[Install]
WantedBy=multi-user.target
