[Unit]
Description=Cloudflare IP Daily Update
Requires=cf-nginx.service

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
